In [37]:
import numpy as np
import pandas as pd
import os

In [38]:
my_np_array = np.random.rand(3)
type(my_np_array)

numpy.ndarray

In [39]:
my_np_array[0]

0.5560260201920222

In [40]:
my_series = pd.Series(my_np_array)
my_series[0]

0.5560260201920222

In [41]:
my_series = pd.Series(my_np_array,index=["One","Two","Three"])

In [42]:
my_series["One"]

0.5560260201920222

In [43]:
my_series

One      0.556026
Two      0.177496
Three    0.059500
dtype: float64

In [44]:
my_series.index

Index(['One', 'Two', 'Three'], dtype='object')

In [45]:
arr_2d = np.random.rand(3,2)

In [46]:
arr_2d[0,1]

0.7175221520374258

In [47]:
df = pd.DataFrame(arr_2d)

In [48]:
df

          0         1
0  0.976153  0.717522
1  0.614009  0.555841
2  0.386408  0.191271

In [49]:
df.columns

RangeIndex(start=0, stop=2, step=1)

In [50]:
df.columns = ["One", "Two"]
df

        One       Two
0  0.976153  0.717522
1  0.614009  0.555841
2  0.386408  0.191271

In [51]:
df["Two"]

0    0.717522
1    0.555841
2    0.191271
Name: Two, dtype: float64

In [57]:
CSV_PATH = os.path.join('artwork_data.csv')
CSV_PATH

'artwork_data.csv'

In [58]:
df = pd.read_csv(CSV_PATH,nrows=5)