In [33]:
import nltk
from nltk import tokenize
import pandas as pd
import numpy as np

In [34]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /home/zsofya/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [9]:
par_db = pd.read_csv("par_db.csv")
doc_db = pd.read_csv("doc_db.csv")

In [8]:
par_db

,doc_idx,text,par_type,is_nar,nar_idx,glob_nar_idx,nar_len,nar_len_words,par_len,par_idx,idx_in_nar,one_before_is_nar,two_before_is_nar
0,0.0,CLIENT,no_mark,0.0,NaN,NaN,NaN,NaN,7.0,0.0,NaN,0.0,0.0
1,0.0,THERAPIST,no_mark,0.0,NaN,NaN,NaN,NaN,10.0,1.0,NaN,0.0,0.0
2,0.0,התחל,no_mark,0.0,NaN,NaN,NaN,NaN,4.0,2.0,NaN,0.0,0.0
3,0.0,שפה עב,no_mark,0.0,NaN,NaN,NaN,NaN,6.0,3.0,NaN,0.0,0.0
4,0.0,משתתפים קליינט מטפל,therapist,0.0,NaN,NaN,NaN,NaN,22.0,4.0,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1108,3.0,יש לך את הדקות בשביל ה,therapist,0.0,NaN,NaN,NaN,NaN,23.0,264.0,NaN,0.0,0.0
1109,3.0,את הזה השאלון,client,0.0,NaN,NaN,NaN,NaN,15.0,265.0,NaN,0.0,0.0
1110,3.0,סיום\n,no_mark,0.0,NaN,NaN,NaN,NaN,6.0,266.0,NaN,0.0,0.0
1111,3.0,NaN,no_mark,0.0,NaN,NaN,NaN,NaN,0.0,267.0,NaN,0.0,0.0
1112,3.0,NaN,no_mark,0.0,NaN,NaN,NaN,NaN,0.0,268.0,NaN,0.0,0.0

In [10]:
doc_db

                    path          file_name client_tag therapist_tag  num_par
0  tmp/lamedbet21_l.docx  lamedbet21_l.docx       לבקל          לבמט      450
1        tmp/nun2_l.docx        nun2_l.docx        נקל           נמט      166
2   tmp/aingimel3_l.docx   aingimel3_l.docx       עגקל          עגמט      229
3  tmp/alefsameh3_l.docx  alefsameh3_l.docx       סאקל          סאמט      276

In [26]:
random_par = par_db.query("par_type == 'client' and is_nar == 1")['text'].sample(n=1).tolist()[0]
random_par

' וואו אמ  לא יודע כאילו כן לא יודע אמ  כאילו אני חושב ש הם נורא כעסו אה אל ושק שהם שני האנשי צוות ו ואני לא כעסתי בחזרה למרות שזה הכעיס אותי באיזשהו מקום אמ כאילו נתתי לכעס שלהם נורא לפגוע בי אמ כאילו במקום כן להתעמת בחזרה כאילו  כאילו שזה כן בסדר להתעמת אה במצבים מסוימים אה שכנראה זה היה מצב ששלא עשיתי את זה ווכנראה בגלל זה זה גם כן פגע בי'

In [27]:
long_par = random_par

In [35]:
sent = tokenize.sent_tokenize(long_par)

In [36]:
sent

[' וואו אמ  לא יודע כאילו כן לא יודע אמ  כאילו אני חושב ש הם נורא כעסו אה אל ושק שהם שני האנשי צוות ו ואני לא כעסתי בחזרה למרות שזה הכעיס אותי באיזשהו מקום אמ כאילו נתתי לכעס שלהם נורא לפגוע בי אמ כאילו במקום כן להתעמת בחזרה כאילו  כאילו שזה כן בסדר להתעמת אה במצבים מסוימים אה שכנראה זה היה מצב ששלא עשיתי את זה ווכנראה בגלל זה זה גם כן פגע בי']

In [38]:
for x in range(len(sent)):
    print (sent[x])

 וואו אמ  לא יודע כאילו כן לא יודע אמ  כאילו אני חושב ש הם נורא כעסו אה אל ושק שהם שני האנשי צוות ו ואני לא כעסתי בחזרה למרות שזה הכעיס אותי באיזשהו מקום אמ כאילו נתתי לכעס שלהם נורא לפגוע בי אמ כאילו במקום כן להתעמת בחזרה כאילו  כאילו שזה כן בסדר להתעמת אה במצבים מסוימים אה שכנראה זה היה מצב ששלא עשיתי את זה ווכנראה בגלל זה זה גם כן פגע בי